{% extends "layout.html" %}
{% block title %}Vote{% endblock %}
{% block content %}
<div class="item">
  <div class="banner-tight" id="previous-header">
    <h1>Previous</h1>
  </div>
  <div id="previous-body">
    {% with item=prev %}
    {% include "_item.html" %}
    {% endwith %}
  </div>
</div>

<div class="item">
  <div class="banner-tight" id="current-header">
    <h1>Current</h1>
  </div>
  <div id="current-body">
    {% with item=next %}
    {% include "_item.html" %}
    {% endwith %}
  </div>
</div>


<div class="item">
  <div class="banner" id="vote-header">
    <h1>Vote</h1>
  </div>

  <div class="info">
    <form action="{{ url_for('vote') }}" method="post">
      <p class="center"><b><font size="+2">Which one is better?</font></b></p>
      <div id="vote-previous" class="radio-button button-left">
        <input type="radio" name="action" id="vote-previous-radio" value="Previous">
        <label for="vote-previous-radio">Previous</label>
      </div>

      <div id="vote-current" class="radio-button button-right">
        <input type="radio" name="action" id="vote-current-radio" value="Current">
        <label for="vote-current-radio">Current</label>
      </div>

      <div id="vote-skip" class="radio-button button-full button-gap">
        <input type="radio" name="action" id="vote-skip-radio" value="Skip" checked>
        <label for="vote-skip-radio">Skip</label>
      </div>

      <input type="submit" name="action" value="Submit" id="vote-submit" class="button-full button-gap">
      <input type="hidden" name="prev_id" value="{{ prev.id }}">
      <input type="hidden" name="next_id" value="{{ next.id }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>

    <script src="{{ url_for('static', filename='js/smart-button-toggle.js') }}"></script>
  </div>
</div>

<b>Judging Criteria</b>

<p> 
<b>Please look at at least 5 entries by Wednesday, September 1st!</b>

<p>
As discussed on the <a href="https://www.3blue1brown.com/blog/some1">SoME1 Website</a> please consider the following criteria when judging each entry:

<ol>
<li><b>Clarity</b>: Jargon should be explained, the goals of the lesson should be understandable with minimal background, and the submission should generally display empathy for people unfamiliar with the topic.</li>
<li><b>Motivation</b>: It should be clear to the reader/viewer within the first 30 seconds why they should care.</li>
<li><b>Novelty</b>: It doesn't necessarily have to be an original idea or original topic, but it should offer someone an experience they might otherwise not have by searching around online. Some of the greatest value comes from covering common topics in better ways. Other times there's value in surfacing otherwise obscure ideas which more people should know about.</li>
<li><b>Memorability</b>: Something should make the piece easy to remember even several months later. Maybe it's the beauty of the presentation, the enthusiasm of the presenter, or the mind-blowingness of an aha moment.</li>
</ol>

Also: please make sure it follows the 5 rules of the competition:

<ol>
<li>It has to be something new you make this summer</li>
<li>It has to be about math</li>
<li>One entry per person/group</li>
<li>It has to be available in English</li>
<li>It has to be publicly visible and available for people to consume for free</li>
</ol>


DISCLAIMER: All of the links provided here were generated by members of the SoME1 community and have not been pre-screened for any form of profane, sexist, racist, homophobic, or other behavior that may illicit negative reactions.
If you find anything that you feel is out-of-line, please contact me at jrs.schloss@gmail.com immediately.

{% endblock %}
